html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #444;
}

a {
    color: #0059b2;
    text-decoration: none;
}
a:hover {
    color: #CC0000;
    text-decoration: underline;
}

img {max-width: 600px; height: auto;}

img.img-article-left {
    max-width: 300px;
    height: auto;
    float: left;
    padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
    max-width: 150px;
    height: auto;
}

p.link-read-post {
    text-align: right;
}
p.link-read-post a {
    padding: 10px;
    min-width: 100px;
    background: #333671;
    color: #fff;
    text-decoration: none;
}


.red {
    background-color: red;
}

.green {
    background-color: #33ff33;
}

.tomato {
    background-color: Tomato;
}

.blue {
    background-color: #D6EEEE;
}

.yellow {
    background-color: #ffff33;
}